#KERNEL=="video*", SUBSYSTEM=="video4linux", KERNELS=="1-2.1:1.0", MODE:="0777", SYMLINK+="usb_cam"
#KERNEL=="video*", SUBSYSTEM=="video4linux", KERNELS=="1-2.2:1.0", MODE:="0777", SYMLINK+="usb_cam"
SUBSYSTEM=="video4linux", ACTION=="add|change", RUN+="/home/ubuntu/.dtb/.link_yuyv_camera.sh"
